@font-face {
  font-family: 'Baron Neue';
  src: url("../fonts/BaronNeue/BaronNeueBold.eot");
  src: url("../fonts/BaronNeue/BaronNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BaronNeue/BaronNeueBold.woff2") format("woff2"), url("../fonts/BaronNeue/BaronNeueBold.woff") format("woff"), url("../fonts/BaronNeue/BaronNeueBold.ttf") format("truetype"), url("../fonts/BaronNeue/BaronNeueBold.otf") format("opentype"), url("../fonts/BaronNeue/BaronNeueBold.svg#BaronNeueBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'Baron Neue';
  src: url("../fonts/BaronNeue/BaronNeueBlack.eot");
  src: url("../fonts/BaronNeue/BaronNeueBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/BaronNeue/BaronNeueBlack.woff2") format("woff2"), url("../fonts/BaronNeue/BaronNeueBlack.woff") format("woff"), url("../fonts/BaronNeue/BaronNeueBlack.ttf") format("truetype"), url("../fonts/BaronNeue/BaronNeueBlack.otf") format("opentype"), url("../fonts/BaronNeue/BaronNeueBlack.svg#BaronNeueBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }
.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.header {
  z-index: 999;
  position: relative; }
  .header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .header__logo {
    z-index: 100;
    width: 180px;
    font-size: 0;
    line-height: 0;
    display: block;
    background: transparent;
    padding: 30px 15px 7px 15px; }
  .header__toggle {
    width: 60px;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    padding: 25px 10px 5px 10px; }
    .header__toggle span {
      width: 100%;
      height: 4px;
      margin-bottom: 8px;
      background: #454d51;
      display: inline-block; }
  .header__nav {
    top: 0;
    left: 0;
    right: 0;
    display: none;
    height: 100vh;
    position: fixed; }
    .header__nav_container {
      height: 100%;
      margin: 0 auto;
      position: relative; }
    .header__nav_wrap {
      width: 300px;
      height: 100%;
      background: #fff;
      position: relative;
      padding: 90px 50px 30px 15px; }
    .header__nav_close {
      top: 20px;
      right: 20px;
      z-index: 50;
      width: 40px;
      height: 40px;
      display: block;
      cursor: pointer;
      position: absolute; }
      .header__nav_close:after, .header__nav_close:before {
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 44px;
        height: 1px;
        content: '';
        display: block;
        position: absolute;
        margin: 0 0 0 -22px;
        background: #454d51; }
      .header__nav_close:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .header__nav_close:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .header__nav_close span {
        top: 50%;
        left: 50%;
        z-index: 20;
        width: 10px;
        height: 10px;
        display: block;
        background: #fff;
        position: absolute;
        margin: -5px 0 0 -5px; }
  .header__menu {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-size: 1.1875rem;
    list-style: none; }
    .header__menu > li > a {
      padding: 5px 0;
      color: #454d51;
      font-weight: 900;
      display: inline-block;
      text-decoration: none;
      font-family: "Baron Neue", Arial, sans-serif;
      text-transform: lowercase;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .header__menu > li > a:hover {
        color: #0097b9;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .header__menu > li.active > a {
      color: #0097b9; }
  .header__social {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 -10px;
    list-style: none;
    white-space: nowrap; }
    .header__social > li {
      margin: 0 10px;
      display: inline-block; }
      .header__social > li > a {
        width: 35px;
        height: 35px;
        display: inline-block; }
        .header__social > li > a .ico-svg {
          fill: #454d51; }
        .header__social > li > a:hover .ico-svg {
          fill: #0097b9; }
  .header.open .header__nav {
    display: block; }
  @media (min-width: 576px) {
    .header__logo {
      padding-top: 40px; }
    .header__toggle {
      padding-top: 30px; }
    .header__nav_container {
      max-width: calc(540px); } }
  @media (min-width: 768px) {
    .header__nav_container {
      max-width: calc(720px); } }
  @media (min-width: 992px) {
    .header {
      background: transparent; }
      .header__container {
        margin: 0 -15px; }
      .header__logo {
        width: 240px;
        margin-left: 0;
        padding: 72px 15px 10px 15px; }
      .header__toggle {
        display: none; }
      .header__nav {
        top: auto;
        left: auto;
        right: auto;
        width: auto;
        height: auto;
        display: block;
        padding: 65px 30px 10px 30px;
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .header__nav_container {
          width: 100%;
          max-width: inherit; }
        .header__nav_wrap {
          width: 100%;
          padding: 0;
          background: transparent;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          justify-content: space-between; }
        .header__nav_close {
          display: none; }
      .header__menu {
        padding-top: 10px;
        line-height: 1.25rem; }
        .header__menu:before, .header__menu:after {
          content: " ";
          display: table; }
        .header__menu:after {
          clear: both; }
        .header__menu > li {
          display: block;
          float: left;
          margin-left: 40px; }
          .header__menu > li > a {
            padding: 0;
            color: #454d51; }
            .header__menu > li > a:hover {
              color: #0097b9; }
          .header__menu > li.active > a {
            color: #0097b9; }
      .header__social li a .ico-svg {
        fill: #454d51; }
      .header__social li a:hover .ico-svg {
        fill: #0097b9; } }
  @media (min-width: 1200px) {
    .header__nav {
      padding-left: 90px; }
    .header__menu > li {
      margin-left: 55px; } }

.firstBlock .header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); }
.firstBlock .header__logo {
  background: #fff; }
.firstBlock .header__toggle {
  padding-top: 20px; }
  .firstBlock .header__toggle span {
    background: #fff; }
@media (min-width: 576px) {
  .firstBlock .header__toggle {
    padding-top: 25px; } }
@media (min-width: 992px) {
  .firstBlock .header__container {
    background: rgba(0, 0, 0, 0.5); }
  .firstBlock .header__menu > li > a {
    color: #fff; }
    .firstBlock .header__menu > li > a:hover {
      color: #0097b9; }
  .firstBlock .header__menu > li.active > a {
    color: #0097b9; }
  .firstBlock .header__social li a .ico-svg {
    fill: #fff; }
  .firstBlock .header__social li a:hover .ico-svg {
    fill: #0097b9; } }

.top {
  z-index: 1000;
  position: relative;
  padding-bottom: 40px;
  background: url("../img/top__bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .top:before {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: '';
    height: 48px;
    position: absolute;
    background: url("../img/top__shadow.png") 0 0 repeat-x; }
  .top__line {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 100;
    max-width: 100%;
    overflow: hidden;
    position: absolute; }
    .top__line_elem {
      top: 0;
      left: 50%;
      z-index: 10;
      height: 40px;
      width: 1920px;
      margin-left: -960px;
      position: absolute;
      background: url("../img/volna_01.svg") 50% 0 no-repeat; }
      .top__line_elem:after, .top__line_elem:before {
        top: 1px;
        z-index: 10;
        content: '';
        width: 500px;
        height: 40px;
        display: block;
        background: #fff;
        position: absolute; }
      .top__line_elem:after {
        left: -500px; }
      .top__line_elem:before {
        right: -500px; }
  @media (min-width: 992px) {
    .top {
      padding-top: 20px;
      padding-bottom: 132px; } }

.footer {
  color: #fff;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url("../img/footer__bg.jpg") 50% 0 no-repeat; }
  .footer__top {
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    z-index: 100;
    max-width: 100%;
    overflow: hidden;
    position: absolute; }
    .footer__top_elem {
      bottom: 0;
      left: 50%;
      z-index: 10;
      height: 40px;
      width: 1920px;
      margin-left: -960px;
      position: absolute;
      background: url("../img/volna_01.svg") 50% 0 no-repeat;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
      .footer__top_elem:after, .footer__top_elem:before {
        top: 1px;
        z-index: 10;
        content: '';
        width: 500px;
        height: 40px;
        display: block;
        background: #fff;
        position: absolute; }
      .footer__top_elem:after {
        left: -500px; }
      .footer__top_elem:before {
        right: -500px; }
  .footer__wrap {
    margin: 0 auto;
    max-width: 400px; }
  .footer__logo {
    width: 175px;
    display: block;
    margin: 0 auto 60px auto; }
  .footer__form {
    text-align: center;
    margin-bottom: 70px; }
  .footer__title {
    color: #fff;
    text-align: center;
    font-size: 1.6875rem;
    line-height: 2.0625rem;
    font-family: "Baron Neue", Arial, sans-serif;
    text-transform: lowercase;
    margin-bottom: 30px; }
    .footer__title span {
      display: block;
      color: #0097b9; }
  .footer__bottom {
    text-align: center; }
  .footer__social {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 -10px 30px -10px;
    list-style: none;
    white-space: nowrap; }
    .footer__social > li {
      margin: 0 10px;
      display: inline-block; }
      .footer__social > li > a {
        width: 33px;
        height: 33px;
        display: inline-block; }
        .footer__social > li > a .ico-svg {
          fill: #fff; }
        .footer__social > li > a:hover .ico-svg {
          fill: #0097b9; }
  .footer__copy {
    padding-top: 5px;
    font-size: 1.0625rem;
    line-height: 1.3125rem; }
  .footer .form-group {
    margin-bottom: 40px; }
  @media (min-width: 768px) {
    .footer {
      padding-top: 80px;
      padding-bottom: 100px; } }
  @media (min-width: 992px) {
    .footer {
      padding-top: 110px;
      padding-bottom: 135px; }
      .footer__wrap {
        max-width: 615px; }
      .footer__title {
        margin-bottom: 40px; }
        .footer__title span {
          display: inline; }
      .footer__form {
        margin-bottom: 90px; }
      .footer__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center; }
      .footer__copy {
        margin-left: 40px; } }

.donate {
  right: 0;
  top: 88px;
  height: 190px;
  z-index: 1200;
  position: fixed; }
  .donate.open .donate__btn {
    color: #fff;
    background: #1297ba;
    background: -moz-linear-gradient(left, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
    background: -webkit-linear-gradient(left, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
    background: linear-gradient(to right, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1297ba', endColorstr='#d3e3ec',GradientType=1 ); }
    .donate.open .donate__btn:before {
      display: none; }
  .donate.open .donate__content {
    display: block; }
  .donate__btn {
    top: 72px;
    right: -73px;
    color: #969b91;
    width: 190px;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 8px 10px 14px 10px;
    position: absolute;
    font-weight: 900;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    text-transform: lowercase;
    font-family: "Baron Neue", Arial, sans-serif;
    background: transparent;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .donate__btn:before {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      border: 4px solid #969b91;
      border-bottom: none; }
    .donate__btn_homepage {
      color: #fff;
      background: #1297ba;
      background: -moz-linear-gradient(left, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
      background: -webkit-linear-gradient(left, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
      background: linear-gradient(to right, #1297ba 0%, #279bbd 48%, #96c0d5 75%, #d3e3ec 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1297ba', endColorstr='#d3e3ec',GradientType=1 ); }
      .donate__btn_homepage:before {
        display: none; }
  .donate__content {
    top: 0;
    right: 42px;
    width: 278px;
    height: 100%;
    display: none;
    position: absolute;
    padding: 20px 10px 0 10px;
    border-right: 3px solid #fff;
    background: #d3e3ec;
    background: -moz-linear-gradient(top, rgba(211, 227, 236, 0.85) 0%, rgba(150, 192, 213, 0.85) 30%, rgba(18, 151, 186, 0.85) 57%, rgba(18, 151, 186, 0.85) 100%);
    background: -webkit-linear-gradient(top, rgba(211, 227, 236, 0.85) 0%, rgba(150, 192, 213, 0.85) 30%, rgba(18, 151, 186, 0.85) 57%, rgba(18, 151, 186, 0.85) 100%);
    background: linear-gradient(to bottom, rgba(211, 227, 236, 0.85) 0%, rgba(150, 192, 213, 0.85) 30%, rgba(18, 151, 186, 0.85) 57%, rgba(18, 151, 186, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e3ec', endColorstr='#1297ba',GradientType=0 ); }
  .donate__row {
    margin: 0 -5px 25px -5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .donate__col_50 {
    width: 50%;
    padding: 0 5px; }
  .donate__col_25 {
    width: 25%;
    padding: 0 5px; }
  .donate__radio {
    width: 100%;
    display: block;
    margin-bottom: 0; }
    .donate__radio input {
      display: none; }
    .donate__radio span {
      color: #fff;
      cursor: pointer;
      font-weight: 900;
      line-height: 0.75rem;
      font-size: 0.6875rem;
      display: inline-block;
      position: relative;
      font-family: "Baron Neue", Arial, sans-serif;
      padding: 1px 45px 3px 0; }
      .donate__radio span:before {
        top: 0;
        right: 0;
        content: '';
        width: 1rem;
        height: 1rem;
        position: absolute;
        display: inline-block;
        background: transparent;
        border: 0.1875rem solid #fff; }
    .donate__radio input:checked + span:before {
      background: #fff; }
  .donate__size {
    width: 100%;
    display: block;
    margin-bottom: 0; }
    .donate__size input {
      display: none; }
    .donate__size span {
      color: #fff;
      width: 100%;
      cursor: pointer;
      font-weight: 900;
      position: relative;
      text-align: center;
      line-height: 0.75rem;
      font-size: 0.6875rem;
      display: inline-block;
      background: transparent;
      font-family: "Baron Neue", Arial, sans-serif;
      padding: 0.4375rem 0.125rem 0.6875rem 0.125rem;
      border: 0.1875rem solid #fff; }
    .donate__size input:checked + span {
      background: #fff;
      color: #0097b9; }
  .donate__button {
    color: #fff;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    position: relative;
    text-align: center;
    line-height: 0.75rem;
    font-size: 0.6875rem;
    display: inline-block;
    background: transparent;
    font-family: "Baron Neue", Arial, sans-serif;
    padding: 0.5rem 0.5rem 0.625rem 0.5rem;
    border: 0.1875rem solid #fff; }
    .donate__button:hover {
      background: #fff;
      color: #0097b9; }
    .donate__button span {
      display: none; }
  @media (min-width: 576px) {
    .donate__content {
      width: 435px;
      padding: 20px 40px 0 40px; } }
  @media (min-width: 992px) {
    .donate {
      top: 140px;
      height: 272px; }
      .donate__content {
        width: 620px;
        right: 72px;
        padding: 40px 54px 0 62px;
        border-right: 4px solid #fff; }
      .donate__radio span {
        color: #fff;
        cursor: pointer;
        font-weight: 900;
        line-height: 1rem;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        font-family: "Baron Neue", Arial, sans-serif;
        padding: 2px 60px 6px 0; }
        .donate__radio span:before {
          width: 1.5rem;
          height: 1.5rem; }
      .donate__size span {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.8125rem 0.125rem 1.0625rem 0.125rem; }
      .donate__button {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.8125rem 0.125rem 1.0625rem 0.125rem; }
      .donate__btn {
        top: 100px;
        right: -100px;
        width: 272px;
        padding: 16px 10px 24px 10px;
        font-size: 1.6875rem;
        line-height: 2.0625rem; } }

.donation h2 {
  text-align: center;
  margin-bottom: 3rem; }
.donation__text {
  max-width: 945px;
  position: relative;
  padding-top: 180px;
  margin: 0 auto 4.25rem auto; }
  .donation__text_icon {
    top: 0;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    position: absolute; }
  .donation__text_content {
    font-weight: 300;
    line-height: 1.75rem;
    font-size: 1.0625rem; }
    .donation__text_content p {
      margin-bottom: 1.5rem; }
      .donation__text_content p:last-child {
        margin-bottom: 0; }
.donation__amount {
  background: #f5f2ea;
  padding: 3rem 1.5rem 1.875rem 1.5rem;
  margin-bottom: 4rem; }
.donation__value {
  padding: 0;
  list-style: none;
  margin: 0 -8px 24px -8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .donation__value > li {
    width: 50%;
    padding: 0 8px;
    margin-bottom: 16px; }
.donation__size {
  width: 100%;
  font-size: 0;
  line-height: 0;
  display: block;
  font-weight: 900; }
  .donation__size input {
    display: none; }
  .donation__size span {
    width: 100%;
    color: #454d51;
    cursor: pointer;
    padding: 0.375rem 0.25rem 0.625rem 0.25rem;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    background: #e3e4e4;
    display: inline-block;
    font-family: "Baron Neue", Arial, sans-serif; }
  .donation__size input:checked + span {
    color: #fff;
    background: #0097b9; }
.donation__row {
  margin: 0 -15px; }
.donation__column {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 40px; }
.donation__box {
  max-width: 555px;
  margin: 0 auto 60px auto; }
.donation__payments {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  max-width: 390px;
  margin: 0 auto 26px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .donation__payments > li {
    width: 50%;
    padding: 0 15px; }
    .donation__payments > li a {
      margin: 0;
      padding: 0;
      display: block; }
.donation__systems {
  padding: 0;
  list-style: none;
  max-width: 300px;
  margin: 0 auto 42px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .donation__systems > li {
    width: 25%;
    padding: 0 5px; }
.donation__cardNumber {
  background: #deecf3;
  margin-bottom: 2rem;
  padding: 1.25rem 1.25rem; }
  .donation__cardNumber_label {
    display: block;
    color: #afb8b8;
    font-weight: 300;
    text-align: center;
    font-size: 1.3125rem;
    line-height: 1.375rem;
    margin-bottom: 0.625rem; }
  .donation__cardNumber_input {
    margin: 0;
    border: none;
    width: 100%;
    color: #454d51;
    outline: none;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "HelveticaNeue", Arial, sans-serif; }
    .donation__cardNumber_input::-moz-placeholder {
      color: #454d51;
      opacity: 1; }
    .donation__cardNumber_input:-ms-input-placeholder {
      color: #454d51; }
    .donation__cardNumber_input::-webkit-input-placeholder {
      color: #454d51; }
    .donation__cardNumber_input::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    .donation__cardNumber_input:focus {
      outline: none;
      color: #afb8b8;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .donation__cardNumber_input:focus::-moz-placeholder {
        color: transparent;
        opacity: 1; }
      .donation__cardNumber_input:focus:-ms-input-placeholder {
        color: transparent; }
      .donation__cardNumber_input:focus::-webkit-input-placeholder {
        color: transparent; }
@media (min-width: 576px) {
  .donation__amount_check {
    text-align: center; } }
@media (min-width: 768px) {
  .donation__text {
    padding-top: 0;
    padding-left: 195px; }
    .donation__text_icon {
      left: 0;
      margin-left: 0; }
  .donation__amount {
    padding: 3rem 2.5rem 1.875rem 2.5rem; }
  .donation__value {
    margin: 0 -20px 30px -20px; }
    .donation__value > li {
      width: 50%;
      padding: 0 20px;
      margin-bottom: 30px; }
  .donation__size span {
    font-size: 1.9375rem;
    line-height: 2.375rem;
    padding: 0.875rem 0.5rem 1.125rem 0.5rem; }
  .donation__row {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .donation__column {
    width: 50%;
    margin-bottom: 0; }
  .donation__cardNumber_input {
    font-size: 2rem; } }
@media (min-width: 992px) {
  .donation__value {
    margin-bottom: 60px; }
    .donation__value > li {
      width: 25%;
      margin-bottom: 0; }
  .donation__column {
    width: 490px;
    margin-bottom: 0; }
  .donation__box {
    margin-bottom: 80px; } }
@media (min-width: 1200px) {
  .donation__amount {
    padding: 4.25rem 6.125rem 1.875rem 6.125rem; }
  .donation__value {
    margin: 0 -26px 60px -26px; }
    .donation__value > li {
      width: 25%;
      padding: 0 26px;
      margin-bottom: 0; } }

body {
  color: #454d51;
  font-size: 1.0625rem;
  line-height: 1.411764;
  font-family: 'HelveticaNeue',"Helvetica Neue", Arial, sans-serif; }

h2,
.h2 {
  padding: 0;
  font-weight: 900;
  margin: 0 0 2rem 0;
  line-height: 2rem;
  font-size: 1.6875rem;
  font-family: "Baron Neue", Arial, sans-serif; }
  h2 strong,
  .h2 strong {
    font-weight: 900;
    color: #0097b9; }
  @media (min-width: 768px) {
    h2,
    .h2 {
      font-size: 2.125rem;
      line-height: 2.5rem; } }

h1,
.h1 {
  font-weight: 900;
  font-size: 2.5rem;
  font-family: "Baron Neue", Arial, sans-serif;
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    h1,
    .h1 {
      font-size: 2.875rem;
      line-height: 3.125rem;
      margin-bottom: 3.5rem; } }

p {
  margin-bottom: 1.25rem; }

.img-fluid {
  display: block; }

.form-line {
  margin: 0;
  border: none;
  width: 100%;
  color: #afb8b8;
  outline: none;
  text-align: center;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 1.875rem;
  padding: 0.75rem 0.75rem;
  display: inline-block;
  background: transparent;
  border-bottom: 2px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "HelveticaNeue", Arial, sans-serif; }
  .form-line::-moz-placeholder {
    color: #afb8b8;
    opacity: 1; }
  .form-line:-ms-input-placeholder {
    color: #afb8b8; }
  .form-line::-webkit-input-placeholder {
    color: #afb8b8; }
  .form-line::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-line:focus {
    outline: none;
    color: #afb8b8;
    border-bottom-color: #fff;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .form-line:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-line:focus:-ms-input-placeholder {
      color: transparent; }
    .form-line:focus::-webkit-input-placeholder {
      color: transparent; }

.form-group {
  margin-bottom: 1.5rem; }

.form-group-padding {
  padding-top: 1rem;
  text-align: center; }

.form-control {
  outline: none;
  font-weight: 300;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-color: #aeb8b8;
  padding: 1.375rem 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .form-control::-moz-placeholder {
    color: #454d51;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #454d51; }
  .form-control::-webkit-input-placeholder {
    color: #454d51; }
  .form-control:focus {
    border-color: #aeb8b8;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }
  @media (min-width: 768px) {
    .form-control {
      font-size: 1.4375rem; } }

.form-select {
  height: auto !important;
  padding: 1.375rem 4.25rem 1.375rem 1rem;
  background: url("../img/icon__select.png") 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important; }
  .form-select::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-select::-ms-expand {
    display: none; }

textarea {
  resize: none; }

.form-label {
  width: 100%;
  z-index: 20;
  display: block;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
  position: relative; }
  .form-label span {
    top: 0.75rem;
    width: 166px;
    color: #afb8b8;
    background: #fff;
    position: relative;
    line-height: 1.5rem;
    font-size: 1.3125rem;
    display: inline-block; }
  .form-label a {
    color: #deecf3;
    text-decoration: none; }

@media (min-width: 576px) {
  .form-label-long span {
    width: 290px; } }

.form-label-base {
  width: 100%;
  color: #afb8b8;
  display: block;
  font-weight: 300;
  background: #fff;
  text-align: center;
  position: relative;
  line-height: 1.5rem;
  margin-bottom: 0.25rem; }

.form-divider {
  height: 3rem; }

.form-button {
  text-align: center;
  padding-top: 2.25rem;
  padding-bottom: 1.5rem; }
  .form-button .btn {
    width: 100%;
    max-width: 360px; }
  @media (min-width: 992px) {
    .form-button {
      padding-top: 5.25rem;
      padding-bottom: 3rem; } }

.form-checkbox {
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: left;
  display: inline-block; }
  .form-checkbox input {
    display: none; }
  .form-checkbox span {
    cursor: pointer;
    font-weight: 300;
    text-align: left;
    position: relative;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    display: inline-block;
    padding: 0.25rem 0 0.25rem 3.75rem; }
    .form-checkbox span:before {
      top: 0;
      left: 0;
      content: '';
      width: 36px;
      height: 36px;
      position: absolute;
      display: inline-block;
      border: 1px solid #afb8b8; }
  .form-checkbox input:checked + span:before {
    background: #0097b9;
    border-color: #0097b9; }
  .form-checkbox-lg span {
    line-height: 1.75rem;
    font-size: 1.4375rem; }

.btn-border {
  color: #454d51;
  font-weight: 900;
  padding: 0.75rem 1.5rem 1.25rem 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  border: 4px solid #454d51;
  font-family: "Baron Neue", Arial, sans-serif;
  text-transform: lowercase;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .btn-border:hover {
    color: #fff;
    background: #454d51; }

.btn-main {
  width: 100%;
  color: #fff;
  max-width: 320px;
  font-weight: 900;
  padding: 0.75rem 3rem 1.25rem 3rem;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  border: 4px solid #fff;
  font-family: "Baron Neue", Arial, sans-serif;
  text-transform: lowercase;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .btn-main:hover {
    color: #454d51;
    background: #fff; }

.btn-send {
  width: 280px; }
  @media (min-width: 768px) {
    .btn-send {
      width: 360px; } }

.firstBlock {
  position: relative;
  background: url("../img/firstBlock__bg.jpg") 50% 100% no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 170px; }
  .firstBlock .container {
    z-index: 50;
    position: relative; }
  .firstBlock__content {
    z-index: 50;
    position: relative; }
  .firstBlock h1 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    width: 260px;
    padding-left: 15px;
    line-height: 1.9375rem;
    font-family: "Baron Neue", Arial, sans-serif;
    margin-bottom: 0;
    text-shadow: -1px -2px 5px rgba(0, 0, 0, 0.75); }
  .firstBlock__bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 100;
    max-width: 100%;
    overflow: hidden;
    position: absolute; }
    .firstBlock__bottom_elem {
      top: 0;
      left: 50%;
      z-index: 10;
      height: 40px;
      width: 1920px;
      margin-left: -960px;
      position: absolute;
      background: url("../img/volna_01.svg") 50% 0 no-repeat; }
      .firstBlock__bottom_elem:after, .firstBlock__bottom_elem:before {
        top: 1px;
        z-index: 10;
        content: '';
        width: 500px;
        height: 40px;
        display: block;
        background: #fff;
        position: absolute; }
      .firstBlock__bottom_elem:after {
        left: -500px; }
      .firstBlock__bottom_elem:before {
        right: -500px; }
  .firstBlock__girl {
    width: 1px;
    height: 1px;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
    line-height: 0;
    position: absolute; }
    .firstBlock__girl img {
      display: block; }
  .firstBlock__grass {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    height: 150px;
    overflow: hidden;
    position: absolute; }
    .firstBlock__grass_wrap {
      top: 0;
      left: -200px;
      width: 1286px;
      position: absolute; }
  @media (min-width: 576px) {
    .firstBlock {
      height: 515px;
      overflow: hidden;
      padding-top: 145px;
      padding-bottom: 20px; }
      .firstBlock h1 {
        width: 350px;
        font-size: 1.9375rem;
        line-height: 1.32; }
      .firstBlock__girl {
        width: 401px;
        height: auto;
        bottom: -40px;
        right: -124px; } }
  @media (min-width: 768px) {
    .firstBlock h1 {
      font-size: 1.9375rem;
      line-height: 1.32; }
    .firstBlock__girl {
      width: 440px; } }
  @media (min-width: 992px) {
    .firstBlock {
      height: 750px;
      padding-top: 215px; }
      .firstBlock h1 {
        width: 540px;
        font-size: 2.8125rem;
        line-height: 4.375rem; }
      .firstBlock__girl {
        width: 638px;
        bottom: -60px;
        right: -280px; }
      .firstBlock__grass {
        height: 224px; }
        .firstBlock__grass_wrap {
          left: 50%;
          width: 1920px;
          margin-left: -960px; } }
  @media (min-width: 1200px) {
    .firstBlock__girl {
      right: -50px; } }

.videoBlock {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  .videoBlock h2 {
    text-align: center; }
    .videoBlock h2 strong {
      display: block; }
  .videoBlock .wrap {
    margin: 0 auto;
    max-width: 555px; }
  @media (min-width: 576px) {
    .videoBlock {
      padding-top: 70px;
      padding-bottom: 60px; } }
  @media (min-width: 992px) {
    .videoBlock {
      padding-top: 130px;
      padding-bottom: 65px; }
      .videoBlock .wrap {
        margin: 0 auto;
        max-width: 1005px; } }

.videoSlider {
  padding: 0 40px;
  position: relative;
  margin-bottom: 60px; }
  .videoSlider__source {
    margin: 0 auto;
    max-width: 420px; }
  .videoSlider__item {
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .videoSlider__item a {
      font-size: 0;
      line-height: 0;
      display: block;
      position: relative;
      text-decoration: none; }
      .videoSlider__item a i {
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        position: absolute;
        display: inline-block;
        margin: -40px 0 0 -40px; }
      .videoSlider__item a .ico-svg {
        fill: #000;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .videoSlider__item a:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .videoSlider__item a:hover .ico-svg {
          opacity: 1;
          fill: #0097b9;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
    .videoSlider__item p {
      font-weight: 300;
      padding-top: 20px;
      line-height: 1.5rem;
      font-size: 1.0625rem;
      margin-bottom: 0;
      text-align: center; }
  .videoSlider__nav {
    top: 45px;
    z-index: 10;
    width: 26px;
    height: 62px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block; }
    .videoSlider__nav:after, .videoSlider__nav:before {
      left: -3px;
      top: 50%;
      z-index: 10;
      width: 34px;
      height: 2px;
      content: '';
      position: absolute;
      background: #a2aaab;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .videoSlider__nav:after {
      margin-top: -17px; }
    .videoSlider__nav:before {
      margin-top: 17px; }
    .videoSlider__nav_prev {
      left: 0; }
      .videoSlider__nav_prev:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .videoSlider__nav_prev:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    .videoSlider__nav_next {
      right: 0; }
      .videoSlider__nav_next:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .videoSlider__nav_next:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .videoSlider__nav:hover:after, .videoSlider__nav:hover:before {
      background: #51585c;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  @media (min-width: 576px) {
    .videoSlider__item a i {
      width: 108px;
      height: 108px;
      margin: -54px 0 0 -54px; }
    .videoSlider__nav {
      top: 83px; } }
  @media (min-width: 992px) {
    .videoSlider__source {
      max-width: 740px; }
    .videoSlider__item a i {
      width: 194px;
      height: 194px;
      margin: -97px 0 0 -97px; }
    .videoSlider__nav {
      width: 48px;
      height: 110px;
      top: 158px; }
      .videoSlider__nav:after, .videoSlider__nav:before {
        left: -8px;
        width: 65px; }
      .videoSlider__nav:after {
        margin-top: -30px; }
      .videoSlider__nav:before {
        margin-top: 30px; } }

.gallery {
  margin: 0 auto;
  padding: 0 40px; }
  .gallery__elem {
    max-width: 420px;
    margin: 0 auto 45px auto; }
  .gallery__title {
    overflow: hidden;
    font-weight: 900;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
    font-family: "Baron Neue", Arial, sans-serif;
    text-transform: lowercase; }
    .gallery__title strong {
      display: block;
      font-weight: 900;
      color: #0097b9; }
  .gallery__content {
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
    text-decoration: none; }
    .gallery__content i {
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      position: absolute;
      display: inline-block;
      margin: -40px 0 0 -40px; }
    .gallery__content .ico-svg {
      fill: #000;
      opacity: 0.6;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .gallery__content:hover {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .gallery__content:hover .ico-svg {
        opacity: 1;
        fill: #0097b9;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .gallery__text {
    font-weight: 300;
    padding-top: 20px;
    line-height: 1.5rem;
    font-size: 1.0625rem;
    text-align: center; }
  @media (min-width: 576px) {
    .gallery__content i {
      width: 108px;
      height: 108px;
      margin: -54px 0 0 -54px; } }
  @media (min-width: 992px) {
    .gallery {
      padding: 0;
      margin: 0 -15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .gallery__elem {
        width: 50%;
        padding: 0 15px;
        max-width: inherit; }
      .gallery__title {
        height: 90px; }
      .gallery__content i {
        width: 126px;
        height: 126px;
        margin: -63px 0 0 -63px; } }

.main {
  min-height: 300px;
  background: #fff;
  padding: 50px 0 30px 0; }
  .main h1 {
    color: #0097b9;
    text-align: center; }
  @media (min-width: 992px) {
    .main {
      padding-top: 100px;
      padding-bottom: 70px; } }
  @media (min-width: 1200px) {
    .main {
      padding-top: 145px; } }

.content {
  max-width: 750px;
  margin: 0 auto; }
  .content__image {
    padding-top: 1rem;
    margin-bottom: 1.5rem; }

.divider {
  width: 100%;
  height: 3.5rem; }
  .divider:before, .divider:after {
    content: " ";
    display: table; }
  .divider:after {
    clear: both; }

.intro {
  font-weight: 300;
  font-size: 1.4375rem;
  line-height: 1.75rem;
  margin-bottom: 2.75rem; }

.meta {
  margin-bottom: 2.5rem; }
  .meta__info {
    margin-bottom: 1.25rem; }
    .meta__info:before, .meta__info:after {
      content: " ";
      display: table; }
    .meta__info:after {
      clear: both; }
    .meta__info_author {
      float: left;
      color: #afb8b8;
      line-height: 2.5rem;
      font-size: 1.0625rem;
      text-decoration: none;
      display: inline-block; }
      .meta__info_author:hover {
        color: #0097b9;
        text-decoration: none; }
    .meta__info_view {
      float: left;
      color: #afb8b8;
      position: relative;
      line-height: 2.5rem;
      font-size: 1.0625rem;
      text-decoration: none;
      display: inline-block;
      padding-left: 2.625rem; }
      .meta__info_view i {
        left: 0;
        top: 5px;
        width: 34px;
        height: 19px;
        position: absolute;
        display: inline-block; }
      .meta__info_view .ico-svg {
        fill: #afb8b8; }
  .meta__social {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 -6px;
    list-style: none;
    text-align: center; }
    .meta__social > li {
      padding: 0 6px;
      display: inline-block; }
      .meta__social > li a {
        width: 44px;
        height: 29px;
        display: inline-block; }
        .meta__social > li a .ico-svg {
          fill: #afb8b8; }
        .meta__social > li a:hover .ico-svg {
          fill: #0097b9; }
  @media (min-width: 768px) {
    .meta {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .meta__info {
        margin-bottom: 0; }
        .meta__info_author {
          margin-right: 2.75rem; }
      .meta__social {
        text-align: right; } }

.small_box {
  max-width: 650px;
  font-weight: 300;
  line-height: 1.75rem;
  font-size: 1.4375rem;
  margin: 0 auto 4.5rem auto; }
  .small_box p {
    margin-bottom: 1.75rem; }

.elem {
  max-width: 290px;
  margin: 0 auto 2.5rem auto; }
  .elem.open .elem__text {
    display: block; }
  .elem__data {
    position: relative; }
    .elem__data_image {
      margin: 0 auto;
      max-width: 292px; }
    .elem__data_button {
      left: 0;
      right: 0;
      bottom: 30px;
      position: absolute; }
  .elem__text {
    display: none;
    position: relative;
    border-bottom: 4px solid #454d51;
    padding: 0.25rem 3.5rem 8.25rem 0; }
  .elem__close {
    right: 0;
    bottom: 36px;
    z-index: 10;
    width: 110px;
    height: 48px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .elem__close:after, .elem__close:before {
      bottom: -9px;
      left: 50%;
      height: 65px;
      z-index: 10;
      width: 2px;
      content: '';
      position: absolute;
      background: #a2aaab;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .elem__close:after {
      margin-left: -30px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .elem__close:before {
      margin-left: 30px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .elem__close:hover:after, .elem__close:hover:before {
      background: #51585c;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .elem .btn-border {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem; }
  @media (min-width: 768px) {
    .elem {
      max-width: 360px; } }
  @media (min-width: 992px) {
    .elem_two {
      padding-top: 110px; } }

.container__md {
  margin: 0 auto;
  max-width: 615px; }

.about {
  max-width: 460px;
  margin: 0 auto; }
  .about__elem {
    margin-bottom: 3rem; }
  .about__title {
    color: #454d51;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-family: "Baron Neue", Arial, sans-serif;
    text-align: center;
    margin-bottom: 2rem; }
    .about__title strong {
      color: #0097b9; }
  .about__image {
    margin-bottom: 1.25rem; }
    .about__image .img-fluid {
      display: block; }
  .about__content {
    position: relative;
    padding: 0.25rem 3.5rem 0.5rem 0; }
    .about__content.open {
      padding-bottom: 3.2rem;
      border-bottom: 2px solid #454d51; }
      .about__content.open .about__text {
        max-height: inherit; }
      .about__content.open .about__toggle {
        right: 30px;
        bottom: -16px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  .about__text {
    color: #454d51;
    font-weight: 300;
    overflow: hidden;
    max-height: 6rem;
    line-height: 1.5rem;
    font-size: 1.0625rem; }
  .about__toggle {
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 110px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .about__toggle:after, .about__toggle:before {
      left: -8px;
      width: 65px;
      top: 50%;
      z-index: 10;
      height: 2px;
      content: '';
      position: absolute;
      background: #a2aaab;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .about__toggle:after {
      margin-top: -30px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .about__toggle:before {
      margin-top: 30px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .about__toggle:hover:after, .about__toggle:hover:before {
      background: #51585c;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  @media (min-width: 768px) {
    .about {
      max-width: inherit;
      margin: 0 -15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .about__elem {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 4.5rem; } }
  @media (min-width: 992px) {
    .about {
      margin: 0 -20px; }
      .about__elem {
        padding: 0 20px; } }
  @media (min-width: 1200px) {
    .about {
      margin: 0 -44px; }
      .about__elem {
        padding: 0 44px; } }

.learn {
  max-width: 460px;
  margin: 0 auto 50px auto; }
  .learn__image {
    margin-bottom: 1.25rem; }
    .learn__image .img-fluid {
      display: block; }
  .learn__title {
    color: #0097b9;
    font-weight: 900;
    line-height: 2rem;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-family: "Baron Neue", Arial, sans-serif; }
  .learn__intro {
    color: #454d51;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem; }
  .learn__text {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1.0625rem;
    position: relative;
    padding: 0.25rem 3.5rem 0.5rem 0; }
    .learn__text_inner {
      overflow: hidden;
      max-height: 6rem; }
  .learn__view {
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 110px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .learn__view:after, .learn__view:before {
      left: -8px;
      width: 65px;
      top: 50%;
      z-index: 10;
      height: 2px;
      content: '';
      position: absolute;
      background: #a2aaab;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .learn__view:after {
      margin-top: -30px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .learn__view:before {
      margin-top: 30px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .learn__view:hover:after, .learn__view:hover:before {
      background: #51585c;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  @media (min-width: 768px) {
    .learn {
      margin-bottom: 90px; }
      .learn__title {
        line-height: 2.5rem;
        font-size: 2.125rem; }
      .learn__intro {
        line-height: 1.75rem;
        font-size: 1.4375rem;
        margin-bottom: 2.5rem; } }
  @media (min-width: 992px) {
    .learn {
      max-width: inherit;
      margin-bottom: 90px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .learn__image {
        width: 50%;
        padding-top: 12px;
        padding-right: 15px; }
      .learn__content {
        width: 50%;
        padding-left: 15px; } }
  @media (min-width: 992px) {
    .learn__image {
      padding-right: 44px; }
    .learn__content {
      padding-left: 44px; } }

/*# sourceMappingURL=main.css.map */
