
.about {
	max-width: 460px;
	margin: 0 auto;

	&__elem {
		margin-bottom: 3rem;
	}

	&__title {
		color: #454d51;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.625rem;
		font-family: $font-head;
		text-align: center;
		margin-bottom: 2rem;

		strong {
			color: $color-blue;
		}
	}

	&__image {
		margin-bottom: 1.25rem;

		.img-fluid {
			display: block;
		}
	}

	&__content {
		position: relative;
		padding: 0.25rem 3.5rem 0.5rem 0;

		&.open {
			padding-bottom: 3.2rem;
			border-bottom: 2px solid #454d51;

			.about__text {
				max-height: inherit;
			}

			.about__toggle {
				right: 30px;
				bottom: -16px;
				@include rotate(-90deg);
			}
		}
	}

	&__text {
		color: #454d51;
		font-weight: 300;
		overflow: hidden;
		max-height: 6rem;
		line-height: 1.5rem;
		font-size: 1.0625rem;
	}

	&__toggle {
		right: 0;
		bottom: 0;
		z-index: 10;
		width: 48px;
		height: 110px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		@include transition(.3s);

		&:after,
		&:before {
			left: -8px;
			width: 65px;
			top: 50%;
			z-index: 10;
			height: 2px;
			content: '';
			position: absolute;
			background: #a2aaab;
			display: inline-block;
			@include transition(.3s);
		}

		&:after {
			margin-top: -30px;
			@include rotate(45deg);
		}

		&:before {
			margin-top: 30px;
			@include rotate(-45deg);
		}

		&:hover {

			&:after,
			&:before {
				background: #51585c;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		max-width: inherit;
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);

		&__elem {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 4.5rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -20px;

		&__elem {
			padding: 0 20px;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -44px;

		&__elem {
			padding: 0 44px;
		}
	}
}