body {
	color: $color-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-family: 'HelveticaNeue',"Helvetica Neue", Arial, sans-serif;
}

h2,
.h2 {
	padding: 0;
	font-weight: 900;
	margin: 0 0 2rem 0;
	line-height: 2rem;
	font-size: 1.6875rem;
	font-family: $font-head;

	strong {
		font-weight: 900;
		color: $color-blue;

	}

	@media (min-width: $screen-md-min) {
		font-size: 2.125rem;
		line-height: 2.5rem;
	}
}


h1,
.h1 {
	font-weight: 900;
	font-size: 2.5rem;
	font-family: $font-head;
	margin-bottom: 3rem;

	@media (min-width: $screen-md-min) {
		font-size: 2.875rem;
		line-height: 3.125rem;
		margin-bottom: 3.5rem;

	}
}

p {
	margin-bottom: 1.25rem;
}

.img-fluid {
	display: block;
}

// ------- Form ---------

.form-line {
	margin: 0;
	border: none;
	width: 100%;
	color: #afb8b8;
	outline: none;
	text-align: center;
	font-weight: 300;
	font-size: 1.625rem;
	line-height: 1.875rem;
	padding: 0.75rem 0.75rem;
	display: inline-block;
	background: transparent;
	border-bottom: 2px solid #fff;
	@include placeholder(#afb8b8);
	@include border-radius(0);
	@include box-shadow(none);
	font-family: $font-base;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		outline: none;
		color: #afb8b8;
		border-bottom-color: #fff;
		background: transparent;
		@include box-shadow(none);
		@include placeholder(transparent);
	}
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-group-padding {
	padding-top: 1rem;
	text-align: center;

}

.form-control {
	outline: none;
	font-weight: 300;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
	border-color: #aeb8b8;
	padding: 1.375rem 1rem;
	@include placeholder(#454d51);
	@include border-radius(0);


	&:focus{
		border-color: #aeb8b8;
		@include placeholder(transparent);
		@include box-shadow(none);
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.4375rem;
	}
}

.form-select {
	height: auto !important;
	padding: 1.375rem 4.25rem 1.375rem 1rem;
	background: url("../img/icon__select.png") 100% 50% no-repeat;

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}

textarea {
	resize: none;
}

.form-label {
	width: 100%;
	z-index: 20;
	display: block;
	font-weight: 300;
	margin-bottom: 0;
	text-align: center;
	position: relative;

	span {
		top: 0.75rem;
		width: 166px;
		color: #afb8b8;
		background: #fff;
		position: relative;
		line-height: 1.5rem;
		font-size: 1.3125rem;
		display: inline-block;
	}

	a {
		color: #deecf3;
		text-decoration: none;
	}
}

.form-label-long {

	@media (min-width: $screen-sm-min) {

		span {
			width: 290px;
		}
	}
}

.form-label-base {
	width: 100%;
	color: #afb8b8;
	display: block;
	font-weight: 300;
	background: #fff;
	text-align: center;
	position: relative;
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
}

.form-divider {
	height: 3rem;
}

.form-button {
	text-align: center;
	padding-top: 2.25rem;
	padding-bottom: 1.5rem;


	.btn {
		width: 100%;
		max-width: 360px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 5.25rem;
		padding-bottom: 3rem;
	}


}

.form-checkbox {
	margin: 0;
	font-size: 0;
	line-height: 0;
	text-align: left;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-weight: 300;
		text-align: left;
		position: relative;
		font-size: 1.0625rem;
		line-height: 1.75rem;
		display: inline-block;
		padding: 0.25rem 0 0.25rem 3.75rem;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 36px;
			height: 36px;
			position: absolute;
			display: inline-block;
			border: 1px solid #afb8b8;
		}

	}

	input:checked + span:before {
		background: #0097b9;
		border-color: #0097b9;
	}

	&-lg {

		span {
			line-height: 1.75rem;
			font-size: 	1.4375rem;
		}
	}
}

// ----- Buttons ---------

.btn-border {
	 color: #454d51;
	 font-weight: 900;
	 padding: 0.75rem 1.5rem 1.25rem 1.5rem;
	 font-size: 1.5rem;
	 line-height: 1.5625rem;
	 border: 4px solid #454d51;
	 font-family: $font-head;
	 text-transform: lowercase;
	 background: transparent;
	 @include border-radius(0);

	 &:hover {
		 color: #fff;
		 background: #454d51;
	 }
 }

.btn-main {
	width: 100%;
	color: #fff;
	max-width: 320px;
	font-weight: 900;
	padding: 0.75rem 3rem 1.25rem 3rem;
	font-size: 1.5rem;
	line-height: 1.5625rem;
	border: 4px solid #fff;
	font-family: $font-head;
	text-transform: lowercase;
	background: transparent;
	@include border-radius(0);

	&:hover {
		color: #454d51;
		background: #fff;
	}
}

.btn-send {
	width: 280px;

	@media (min-width: $screen-md-min) {
		width: 360px;
	}
}


// -------------------

.firstBlock {
//	overflow: hidden;
	position: relative;
	background: url("../img/firstBlock__bg.jpg") 50% 100% no-repeat;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 170px;

	.container {
		z-index: 50;
		position: relative;
	}

	&__content {
		z-index: 50;
		position: relative;
	}

	h1 {
		color: #fff;
		font-weight: 700;
		font-size: 	1.5rem;
		width: 260px;
		padding-left: 15px;
		line-height: 1.9375rem;
		font-family: $font-head;
		margin-bottom: 0;
		text-shadow: -1px -2px 5px rgba(0, 0, 0, 0.75);
	}

	&__bottom {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 20px;
		z-index: 100;
		max-width: 100%;
		overflow: hidden;
		position: absolute;

		&_elem {
			top: 0;
			left: 50%;
			z-index: 10;
			height: 40px;
			width: 1920px;
			margin-left: -960px;
			position: absolute;
			background: url("../img/volna_01.svg") 50% 0 no-repeat;

			&:after,
			&:before{
				top: 1px;
				z-index: 10;
				content: '';
				width: 500px;
				height: 40px;
				display: block;
				background: #fff;
				position: absolute;
			}

			&:after {
				left: -500px;
			}

			&:before {
				right: -500px;
			}
		}
	}

	&__girl {
		width: 1px;
		height: 1px;
		right: 0;
		bottom: 0;
		z-index: 5;
		font-size: 0;
		line-height: 0;
		position: absolute;

		img {
			display: block;
		}
	}

	&__grass {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		height: 150px;
		overflow: hidden;
		position: absolute;

		&_wrap {
			top: 0;
			left: -200px;
			width: 1286px;
			position: absolute;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 515px;
		overflow: hidden;
		padding-top: 145px;
		padding-bottom: 20px;

		h1 {
			width: 350px;
			font-size: 1.9375rem;
			line-height: 1.32;
		}

		&__girl {
			width: 401px;
			height: auto;
			bottom: -40px;
			right: -124px;
		}
	}

	@media (min-width: $screen-md-min) {

		h1 {
			font-size: 1.9375rem;
			line-height: 1.32;
		}

		&__girl {
			width: 440px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 750px;
		padding-top: 215px;

		h1 {
			width: 540px;
			font-size: 2.8125rem;
			line-height: 4.375rem;
		}

		&__girl {
			width: 638px;
			bottom: -60px;
			right: -280px;
		}

		&__grass {
			height: 224px;

			&_wrap {
				left: 50%;
				width: 1920px;
				margin-left: -960px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__girl {
			right: -50px;
		}
	}
}

.videoBlock {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;

	h2 {
		text-align: center;

		strong {
			display: block;
		}
	}

	.wrap {
		margin: 0 auto;
		max-width: 555px;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 70px;
		padding-bottom: 60px;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 130px;
		padding-bottom: 65px;

		.wrap {
			margin: 0 auto;
			max-width: 1005px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

.videoSlider {
	padding: 0 40px;
	position: relative;
	margin-bottom: 60px;

	&__source {
		margin: 0 auto;
		max-width: 420px;
	}

	&__item {
		display: block;
		position: relative;
		text-decoration: none;
		@include transition(.3s);

		a {
			font-size: 0;
			line-height: 0;
			display: block;
			position: relative;
			text-decoration: none;

			i {
				top: 50%;
				left: 50%;
				width: 80px;
				height: 80px;
				position: absolute;
				display: inline-block;
				margin: -40px 0 0 -40px;
			}


			.ico-svg {
				fill: #000;
				opacity: 0.6;
				@include transition(.3s);

			}

			&:hover {
				@include transition(.3s);

				.ico-svg {
					opacity: 1;
					fill: $color-blue;
					@include transition(.3s);
				}
			}
		}

		p {
			font-weight: 300;
			padding-top: 20px;
			line-height: 1.5rem;
			font-size: 	1.0625rem;
			margin-bottom: 0;
			text-align: center;
		}

	}

	&__nav {
		top: 45px;
		z-index: 10;
		width: 26px;
		height: 62px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			left: -3px;
			top: 50%;
			z-index: 10;
			width: 34px;
			height: 2px;
			content: '';
			position: absolute;
			background: #a2aaab;
			display: inline-block;
			@include transition(.3s);
		}

		&:after {
			margin-top: -17px;
		}

		&:before {
			margin-top: 17px;
		}

		&_prev {
			left: 0;

			&:after {
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}
		}

		&_next {
			right: 0;

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		&:hover {

			&:after,
			&:before {
				background: #51585c;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__item {

			a {

				i {
					width: 108px;
					height: 108px;
					margin: -54px 0 0 -54px;
				}
			}
		}

		&__nav {
			top: 83px
		}
	}

	@media (min-width: $screen-lg-min) {

		&__source {
			max-width: 740px;
		}

		&__item {

			a {

				i {
					width: 194px;
					height: 194px;
					margin: -97px 0 0 -97px;
				}
			}
		}


		&__nav {
			width: 48px;
			height: 110px;
			top: 158px;

			&:after,
			&:before {
				left: -8px;
				width: 65px;
			}


			&:after {
				margin-top: -30px;
			}

			&:before {
				margin-top: 30px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.gallery {
	margin: 0 auto;
	padding: 0 40px;


	&__elem {
		max-width: 420px;
		margin: 0 auto 45px auto;
	}

	&__item {

	}

	&__title {
		overflow: hidden;
		font-weight: 900;
		text-align: center;
		font-size: 1.5625rem;
		line-height: 1.875rem;
		margin-bottom: 1.25rem;
		font-family: $font-head;
		text-transform: lowercase;

		strong {
			display: block;
			font-weight: 900;
			color: $color-blue;
		}
	}

	&__content {
		font-size: 0;
		line-height: 0;
		display: block;
		position: relative;
		text-decoration: none;

		i {
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			position: absolute;
			display: inline-block;
			margin: -40px 0 0 -40px;
		}


		.ico-svg {
			fill: #000;
			opacity: 0.6;
			@include transition(.3s);

		}

		&:hover {
			@include transition(.3s);

			.ico-svg {
				opacity: 1;
				fill: $color-blue;
				@include transition(.3s);
			}
		}
	}

	&__text {
		font-weight: 300;
		padding-top: 20px;
		line-height: 1.5rem;
		font-size: 	1.0625rem;
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		&__content {

			i {
				width: 108px;
				height: 108px;
				margin: -54px 0 0 -54px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 0;
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);

		&__elem {
			width: 50%;
			padding: 0 15px;
			max-width: inherit;
		}

		&__title {
			height: 90px;
		}
		&__content {

			i {
				width: 126px;
				height: 126px;
				margin: -63px 0 0 -63px;
			}
		}
	}
}

.main {
	min-height: 300px;
	background: #fff;
	padding: 50px 0 30px 0;

	h1 {
		color: $color-blue;
		text-align: center;
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 70px;
	}


	@media (min-width: $screen-xl-min) {
		padding-top: 145px;
	}
}

.content {
	max-width: 750px;
	margin: 0 auto;

	&__image {
		padding-top: 1rem;
		margin-bottom: 1.5rem;
	}
}

.divider {
	width: 100%;
	height: 3.5rem;
	@include clearfix();
}

.intro {
	font-weight: 300;
	font-size: 1.4375rem;
	line-height: 1.75rem;
	margin-bottom: 	2.75rem;
}

.meta {
	margin-bottom: 2.5rem;

	&__info {
		margin-bottom: 1.25rem;
		@include clearfix();

		&_author {
			float: left;
			color: #afb8b8;
			line-height: 2.5rem;
			font-size: 	1.0625rem;
			text-decoration: none;
			display: inline-block;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}

		&_view {
			float: left;
			color: #afb8b8;
			position: relative;
			line-height: 2.5rem;
			font-size: 	1.0625rem;
			text-decoration: none;
			display: inline-block;
			padding-left: 2.625rem;

			i {
				left: 0;
				top: 5px;
				width: 34px;
				height: 19px;
				position: absolute;
				display: inline-block;
			}

			.ico-svg {
				fill: #afb8b8;
			}
		}
	}

	&__social {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -6px;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 6px;
			display: inline-block;

			a {
				width: 44px;
				height: 29px;
				display: inline-block;

				.ico-svg {
					fill: #afb8b8;
				}

				&:hover {

					.ico-svg {
						fill: $color-blue;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__info {
			margin-bottom: 0;

			&_author {
				margin-right: 2.75rem;
			}
		}

		&__social {
			text-align: right;
		}
	}
}

.small_box {
	max-width: 650px;
	font-weight: 300;
	line-height: 1.75rem;
	font-size: 1.4375rem;
	margin: 0 auto 4.5rem auto;

	p {
		margin-bottom: 1.75rem;
	}
}

.elem {
	max-width: 290px;
	margin: 0 auto 2.5rem auto;

	&.open {

		.elem__text {
			display: block;
		}
	}

	&__data {
		position: relative;

		&_image {
			margin: 0 auto;
			max-width: 292px;
		}

		&_button {
			left: 0;
			right: 0;
			bottom: 30px;
			position: absolute;
		}
	}

	&__text {
		display: none;
		position: relative;
		border-bottom: 4px solid #454d51;
		padding: 0.25rem 3.5rem 8.25rem 0;
	}

	&__close {
		right: 0;
		bottom: 36px;
		z-index: 10;
		width: 110px;
		height: 48px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		@include transition(.3s);


		&:after,
		&:before {
			bottom: -9px;
			left: 50%;
			height: 65px;
			z-index: 10;
			width: 2px;
			content: '';
			position: absolute;
			background: #a2aaab;
			display: inline-block;
			@include transition(.3s);
		}

		&:after {
			margin-left: -30px;
			@include rotate(45deg);
		}

		&:before {
			margin-left: 30px;
			@include rotate(-45deg);
		}

		&:hover {

			&:after,
			&:before {
				background: #51585c;
				@include transition(.3s);
			}
		}
	}

	.btn-border {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@media (min-width: $screen-md-min) {
		max-width: 360px;
	}

	@media (min-width: $screen-lg-min) {

		&_two {
			padding-top: 110px;
		}
	}
}


.container__md {
	margin: 0 auto;
	max-width: 615px;
}


@media (min-width: $screen-sm-min) {

}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}