.donate {
	right: 0;
	top: 88px;
	height: 190px;
	z-index: 1200;
	position: fixed;

	&.open {

		.donate__btn {
			color: #fff;
			background: rgb(18,151,186);
			background: -moz-linear-gradient(left, rgba(18,151,186,1) 0%, rgba(39,155,189,1) 48%, rgba(150,192,213,1) 75%, rgba(211,227,236,1) 100%);
			background: -webkit-linear-gradient(left, rgba(18,151,186,1) 0%,rgba(39,155,189,1) 48%,rgba(150,192,213,1) 75%,rgba(211,227,236,1) 100%);
			background: linear-gradient(to right, rgba(18,151,186,1) 0%,rgba(39,155,189,1) 48%,rgba(150,192,213,1) 75%,rgba(211,227,236,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1297ba', endColorstr='#d3e3ec',GradientType=1 );

			&:before {
				display: none;
			}
		}

		.donate__content {
			display: block;
		}
	}

	&__btn {
		top: 72px;
		right: -73px;
		color: #969b91;
		width: 190px;
		border: none;
		outline: none;
		display: block;
		cursor: pointer;
		text-align: center;
		padding: 8px 10px 14px 10px;
		position: absolute;
		font-weight: 900;
		font-size: 1.1875rem;
		line-height: 1.4375rem;
		text-transform: lowercase;
		font-family: $font-head;
		background: transparent;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			border: 4px solid #969b91;
			border-bottom: none;
		}


		@include rotate(-90deg);

		&_homepage {
			color: #fff;
			background: rgb(18,151,186);
			background: -moz-linear-gradient(left, rgba(18,151,186,1) 0%, rgba(39,155,189,1) 48%, rgba(150,192,213,1) 75%, rgba(211,227,236,1) 100%);
			background: -webkit-linear-gradient(left, rgba(18,151,186,1) 0%,rgba(39,155,189,1) 48%,rgba(150,192,213,1) 75%,rgba(211,227,236,1) 100%);
			background: linear-gradient(to right, rgba(18,151,186,1) 0%,rgba(39,155,189,1) 48%,rgba(150,192,213,1) 75%,rgba(211,227,236,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1297ba', endColorstr='#d3e3ec',GradientType=1 );

			&:before {
				display: none;
			}
		}
	}

	&__content {
		top: 0;
		right: 42px;
		width: 278px;
		height: 100%;
		display: none;
		position: absolute;
		padding: 20px 10px 0 10px;
		border-right: 3px solid #fff;
		background: rgb(211,227,236);
		background: -moz-linear-gradient(top, rgba(211,227,236,0.85) 0%, rgba(150,192,213,0.85) 30%, rgba(18,151,186,0.85) 57%, rgba(18,151,186,0.85) 100%);
		background: -webkit-linear-gradient(top, rgba(211,227,236,0.85) 0%,rgba(150,192,213,0.85) 30%,rgba(18,151,186,0.85) 57%,rgba(18,151,186,0.85) 100%);
		background: linear-gradient(to bottom, rgba(211,227,236,0.85) 0%,rgba(150,192,213,0.85) 30%,rgba(18,151,186,0.85) 57%,rgba(18,151,186,0.85) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e3ec', endColorstr='#1297ba',GradientType=0 );
	}

	&__row {
		margin: 0 -5px 25px -5px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__col_50 {
		width: 50%;
		padding: 0 5px;
	}

	&__col_25 {
		width: 25%;
		padding: 0 5px;
	}

	&__radio {
		width: 100%;
		display: block;
		margin-bottom: 0;

		input {
			display: none;
		}

		span {
			color: #fff;
			cursor: pointer;
			font-weight: 900;
			line-height: 0.75rem;
			font-size: 0.6875rem;
			display: inline-block;
			position: relative;
			font-family: $font-head;
			padding: 1px 45px 3px 0;

			&:before {
				top: 0;
				right: 0;
				content: '';
				width: 1rem;
				height: 1rem;
				position: absolute;
				display: inline-block;
				background: transparent;
				border: 0.1875rem solid #fff;
			}
		}

		input:checked + span {

			&:before {
				background: #fff;
			}
		}
	}

	&__size {
		width: 100%;
		display: block;
		margin-bottom: 0;

		input {
			display: none;
		}

		span {
			color: #fff;
			width: 100%;
			cursor: pointer;
			font-weight: 900;
			position: relative;
			text-align: center;
			line-height: 0.75rem;
			font-size: 0.6875rem;
			display: inline-block;
			background: transparent;
			font-family: $font-head;
			padding: 0.4375rem 0.125rem 0.6875rem 0.125rem;
			border: 0.1875rem solid #fff;
		}

		input:checked + span {
			background: #fff;
			color: $color-blue;
		}
	}

	&__button {
		color: #fff;
		width: 100%;
		outline: none;
		cursor: pointer;
		font-weight: 900;
		position: relative;
		text-align: center;
		line-height: 0.75rem;
		font-size: 0.6875rem;
		display: inline-block;
		background: transparent;
		font-family: $font-head;
		padding: 0.5rem 0.5rem 0.625rem 0.5rem;
		border: 0.1875rem solid #fff;

		&:hover {
			background: #fff;
			color: $color-blue;
		}

		span {
			display: none;
		}

	}

	@media (min-width: $screen-sm-min) {

		&__content {
			width: 435px;
			padding: 20px 40px 0 40px;
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 140px;
		height: 272px;

		&__content {
			width: 620px;
			right: 72px;
			padding: 40px 54px 0 62px;
			border-right: 4px solid #fff;
		}

		&__radio {

			span {
				color: #fff;
				cursor: pointer;
				font-weight: 900;
				line-height: 1rem;
				font-size: 1rem;
				display: inline-block;
				position: relative;
				font-family: $font-head;
				padding: 2px 60px 6px 0;

				&:before {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		&__size {

			span {
				font-size: 1rem;
				line-height: 1rem;
				padding: 0.8125rem 0.125rem 1.0625rem 0.125rem;
			}
		}

		&__button {
			font-size: 1rem;
			line-height: 1rem;
			padding: 0.8125rem 0.125rem 1.0625rem 0.125rem;
		}

		&__btn {
			top: 100px;
			right: -100px;
			width: 272px;
			padding: 16px 10px 24px 10px;
			font-size: 1.6875rem;
			line-height: 2.0625rem;
		}
	}
}

.donation {

	h2 {
		text-align: center;
		margin-bottom: 3rem;
	}

	&__text {
		max-width: 945px;
		position: relative;
		padding-top: 180px;
		margin: 0 auto 4.25rem auto;

		&_icon {
			top: 0;
			left: 50%;
			width: 160px;
			margin-left: -80px;
			position: absolute;
		}

		&_content {
			font-weight: 300;
			line-height: 1.75rem;
			font-size: 	1.0625rem;

			p {
				margin-bottom: 1.5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__amount {
		background: #f5f2ea;
		padding: 3rem 1.5rem 1.875rem 1.5rem;
		margin-bottom: 4rem;

		&_check {

		}
	}

	&__value {
		padding: 0;
		list-style: none;
		margin: 0 -8px 24px -8px;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 0 8px;
			margin-bottom: 16px;
		}
	}

	&__size {
		width: 100%;
		font-size: 0;
		line-height: 0;
		display: block;
		font-weight: 900;

		input {
			display: none;
		}

		span {
			width: 100%;
			color: #454d51;
			cursor: pointer;
			padding: 0.375rem 0.25rem 0.625rem 0.25rem;
			font-weight: 900;
			font-size: 1.25rem;
			line-height:1.5rem;
			text-align: center;
			background: #e3e4e4;
			display: inline-block;
			font-family: $font-head;
		}

		input:checked + span {
			color: #fff;
			background: $color-blue;
		}
	}

	&__row {
		margin: 0 -15px;
	}

	&__column {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 40px;
	}

	&__box {
		max-width: 555px;
		margin: 0 auto 60px auto;
	}

	&__payments {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		max-width: 390px;
		margin: 0 auto 26px auto;
		@include flexbox();

		> li {
			width: 50%;
			padding: 0 15px;

			a {
				margin: 0;
				padding: 0;
				display: block;
			}
		}
	}

	&__systems {
		padding: 0;
		list-style: none;
		max-width: 300px;
		margin: 0 auto 42px auto;
		@include flexbox();

		> li {
			width: 25%;
			padding: 0 5px;
		}
	}

	&__cardNumber {
		background: #deecf3;
		margin-bottom: 2rem;
		padding: 1.25rem 1.25rem;

		&_label {
			display: block;
			color: #afb8b8;
			font-weight: 300;
			text-align: center;
			font-size: 1.3125rem;
			line-height: 1.375rem;
			margin-bottom: 0.625rem;
		}

		&_input {
			margin: 0;
			border: none;
			width: 100%;
			color: #454d51;
			outline: none;
			text-align: center;
			font-weight: 300;
			font-size: 1.25rem;
			line-height: 2rem;
			padding: 0.25rem 0.5rem;
			display: inline-block;
			background: transparent;
			@include placeholder(#454d51);
			@include border-radius(0);
			@include box-shadow(none);
			font-family: $font-base;

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				outline: none;
				color: #afb8b8;
				background: transparent;
				@include box-shadow(none);
				@include placeholder(transparent);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__amount {

			&_check {
				text-align: center;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__text {
			padding-top: 0;
			padding-left: 195px;

			&_icon {
				left: 0;
				margin-left: 0;
			}
		}

		&__amount {
			padding: 3rem 2.5rem 1.875rem 2.5rem;
		}

		&__value {
			margin: 0 -20px 30px -20px;

			> li {
				width: 50%;
				padding: 0 20px;
				margin-bottom: 30px;
			}
		}

		&__size {

			span {
				font-size: 1.9375rem;
				line-height: 2.375rem;
				padding: 0.875rem 0.5rem 1.125rem 0.5rem;
			}
		}

		&__row {
			margin-bottom: 80px;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__column {
			width: 50%;
			margin-bottom: 0;
		}

		&__cardNumber {

			&_input {
				font-size: 2rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__value {
			margin-bottom: 60px;

			> li {
				width: 25%;
				margin-bottom: 0;
			}
		}

		&__column {
			width: 490px;
			margin-bottom: 0;
		}

		&__box {
			margin-bottom: 80px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__amount {
			padding: 4.25rem 6.125rem 1.875rem 6.125rem;
		}

		&__value {
			margin: 0 -26px 60px -26px;

			> li {
				width: 25%;
				padding: 0 26px;
				margin-bottom: 0;
			}
		}
	}
}