@font-face {
	font-family:'Baron Neue';
	src: url('../fonts/BaronNeue/BaronNeueBold.eot');
	src: url('../fonts/BaronNeue/BaronNeueBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BaronNeue/BaronNeueBold.woff2') format('woff2'),
	url('../fonts/BaronNeue/BaronNeueBold.woff') format('woff'),
	url('../fonts/BaronNeue/BaronNeueBold.ttf') format('truetype'),
	url('../fonts/BaronNeue/BaronNeueBold.otf') format('opentype'),
	url('../fonts/BaronNeue/BaronNeueBold.svg#BaronNeueBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Baron Neue';
	src: url('../fonts/BaronNeue/BaronNeueBlack.eot');
	src: url('../fonts/BaronNeue/BaronNeueBlack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BaronNeue/BaronNeueBlack.woff2') format('woff2'),
	url('../fonts/BaronNeue/BaronNeueBlack.woff') format('woff'),
	url('../fonts/BaronNeue/BaronNeueBlack.ttf') format('truetype'),
	url('../fonts/BaronNeue/BaronNeueBlack.otf') format('opentype'),
	url('../fonts/BaronNeue/BaronNeueBlack.svg#BaronNeueBlack') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}


@font-face {
	font-family:'HelveticaNeue';
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2') format('woff2'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeue';
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}


@font-face {
	font-family:'HelveticaNeue';
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}