.footer {
	color: #fff;
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
	background: url("../img/footer__bg.jpg") 50% 0 no-repeat;

	&__top {
		left: 0;
		top: 0;
		width: 100%;
		height: 20px;
		z-index: 100;
		max-width: 100%;
		overflow: hidden;
		position: absolute;

		&_elem {
			bottom: 0;
			left: 50%;
			z-index: 10;
			height: 40px;
			width: 1920px;
			margin-left: -960px;
			position: absolute;
			background: url("../img/volna_01.svg") 50% 0 no-repeat;
			@include rotate(180deg);

			&:after,
			&:before{
				top: 1px;
				z-index: 10;
				content: '';
				width: 500px;
				height: 40px;
				display: block;
				background: #fff;
				position: absolute;
			}

			&:after {
				left: -500px;
			}

			&:before {
				right: -500px;
			}
		}
	}

	&__wrap {
		margin: 0 auto;
		max-width: 400px;
	}

	&__logo {
		width: 175px;
		display: block;
		margin: 0 auto 60px auto;
	}

	&__form {
		text-align: center;
		margin-bottom: 70px;
	}

	&__title {
		color: #fff;
		text-align: center;
		font-size: 1.6875rem;
		line-height: 2.0625rem;
		font-family: $font-head;
		text-transform: lowercase;
		margin-bottom: 30px;

		span {
			display: block;
			color: $color-blue;
		}
	}

	&__bottom {
		text-align: center;
	}

	&__social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -10px 30px -10px;
		list-style: none;
		white-space: nowrap;

		> li {
			margin: 0 10px;
			display: inline-block;

			> a {
				width: 33px;
				height: 33px;
				display: inline-block;

				.ico-svg {
					fill: #fff;
				}

				&:hover {

					.ico-svg {
						fill: $color-blue;
					}
				}
			}
		}
	}

	&__copy {
		padding-top: 5px;
		font-size: 1.0625rem;
		line-height: 1.3125rem;
	}

	.form-group {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 100px;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 110px;
		padding-bottom: 135px;

		&__wrap {
			max-width: 615px;
		}

		&__title {
			margin-bottom: 40px;

			span {
				display: inline;
			}
		}

		&__form {
			margin-bottom: 90px;
		}

		&__bottom {
			@include flexbox();
			@include justify-content(center);
		}

		&__copy {
			margin-left: 40px;
		}
	}
}