.header {
	z-index: 999;
	position: relative;

	&__container {
		@include flexbox();
		@include justify-content(space-between);
	}

	&__logo {
		z-index: 100;
		width: 180px;
		font-size: 0;
		line-height: 0;
		display: block;
		background: transparent;
		padding: 30px 15px 7px 15px;
	}

	&__toggle {
		width: 60px;
		font-size: 0;
		line-height: 0;
		display: block;
		cursor: pointer;
		padding: 25px 10px 5px 10px;

		span {
			width: 100%;
			height: 4px;
			margin-bottom: 8px;
			background: #454d51;
			display: inline-block;
		}
	}

	&__nav {
		top: 0;
		left: 0;
		right: 0;
		display: none;
		height: 100vh;
		position: fixed;

		&_container {
			height: 100%;
			margin: 0 auto;
			position: relative;
		}

		&_wrap {
			width: 300px;
			height: 100%;
			background: #fff;
			position: relative;
			padding: 90px 50px 30px 15px;
		}


		&_close {
			top: 20px;
			right: 20px;
			z-index: 50;
			width: 40px;
			height: 40px;
			display: block;
			cursor: pointer;
			position: absolute;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 44px;
				height: 1px;
				content: '';
				display: block;
				position: absolute;
				margin: 0 0 0 -22px;
				background: $color-gray;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			span {
				top: 50%;
				left: 50%;
				z-index: 20;
				width: 10px;
				height: 10px;
				display: block;
				background: #fff;
				position: absolute;
				margin: -5px 0 0 -5px;
			}
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		line-height: 1.5rem;
		font-size: 1.1875rem;
		list-style: none;

		> li {

			> a {
				padding: 5px 0;
				color: $color-gray;
				font-weight: 900;
				display: inline-block;
				text-decoration: none;
				font-family: $font-head;
				text-transform: lowercase;
				@include transition(.3s);

				&:hover {
					color: $color-blue;
					@include transition(.3s);
				}
			}

			&.active {

				> a {
					color: $color-blue;
				}
			}
		}
	}

	&__social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -10px;
		list-style: none;
		white-space: nowrap;

		> li {
			margin: 0 10px;
			display: inline-block;

			> a {
				width: 35px;
				height: 35px;
				display: inline-block;

				.ico-svg {
					fill: $color-gray;
				}

				&:hover {

					.ico-svg {
						fill: $color-blue;
					}
				}
			}
		}
	}

	&.open {

		.header__nav {
			display: block;
		}

	}

	@media (min-width: $screen-sm-min) {

		&__logo {
			padding-top: 40px;
		}

		&__toggle {
			padding-top: 30px;
		}

		&__nav {

			&_container {
				max-width: calc(540px);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			&_container {
				max-width: calc(720px);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		background: transparent;

		&__container {
			margin: 0 -15px;
		}

		&__logo {
			width: 240px;
			margin-left: 0;
			padding: 72px 15px 10px 15px;
		}

		&__toggle {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			display: block;
			padding: 65px 30px 10px 30px;
			position: relative;
			@include flex-grow(1);

			&_container {
				width: 100%;
				max-width: inherit;
			}

			&_wrap {
				width: 100%;
				padding: 0;
				background: transparent;
				@include flexbox();
				@include justify-content(space-between);
			}

			&_close {
				display: none;
			}
		}


		&__menu {
			padding-top: 10px;
			line-height: 1.25rem;
			@include clearfix();

			> li {
				display: block;
				float: left;
				margin-left: 40px;

				> a {
					padding: 0;
					color: #454d51;

					&:hover {
						color: $color-blue;
					}
				}

				&.active {

					> a {
						color: $color-blue;
					}
				}
			}
		}

		&__social {

			li {

				a {

					.ico-svg {
						fill: #454d51;
					}

					&:hover {

						.ico-svg {
							fill: $color-blue;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {
			padding-left: 90px;
		}

		&__menu {

			> li {
				margin-left: 55px;
			}
		}
	}
}

.firstBlock {

	.header {
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.5);
	}

	.header__logo {
		background: #fff;
	}

	.header__toggle {
		padding-top: 20px;

		span {
			background: #fff;
		}
	}

	@media (min-width: $screen-sm-min) {

		.header__toggle {
			padding-top: 25px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.header__container {
			background: rgba(0,0,0,0.5);
		}

		.header__menu {

			> li {

				> a {
					color: #fff;

					&:hover {
						color: $color-blue;
					}
				}

				&.active {

					> a {
						color: $color-blue;
					}
				}
			}
		}

		.header__social {

			li {

				a {

					.ico-svg {
						fill: #fff;
					}

					&:hover {

						.ico-svg {
							fill: $color-blue;
						}
					}
				}
			}
		}
	}
}

.top {
	z-index: 1000;
	position: relative;
	padding-bottom: 40px;
	background: url("../img/top__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		height: 48px;
		position: absolute;
		background: url("../img/top__shadow.png") 0 0 repeat-x;
	}

	&__line {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 20px;
		z-index: 100;
		max-width: 100%;
		overflow: hidden;
		position: absolute;

		&_elem {
			top: 0;
			left: 50%;
			z-index: 10;
			height: 40px;
			width: 1920px;
			margin-left: -960px;
			position: absolute;
			background: url("../img/volna_01.svg") 50% 0 no-repeat;

			&:after,
			&:before{
				top: 1px;
				z-index: 10;
				content: '';
				width: 500px;
				height: 40px;
				display: block;
				background: #fff;
				position: absolute;
			}

			&:after {
				left: -500px;
			}

			&:before {
				right: -500px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 20px;
		padding-bottom: 132px;
	}
}