
.learn {
	max-width: 460px;
	margin: 0 auto 50px auto;

	&__image {
		margin-bottom: 1.25rem;

		&_item {

		}

		.img-fluid {
			display: block;
		}
	}

	&__content {

	}

	&__title {
		color: #0097b9;
		font-weight: 900;
		line-height: 2rem;
		font-size: 1.75rem;
		margin-bottom: 1.5rem;
		font-family: $font-head;
	}

	&__intro {
		color: #454d51;
		font-weight: 300;
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&__text {
		font-weight: 300;
		line-height: 1.5rem;
		font-size: 1.0625rem;
		position: relative;
		padding: 0.25rem 3.5rem 0.5rem 0;

		&_inner {
			overflow: hidden;
			max-height: 6rem;
		}
	}

	&__view {
		right: 0;
		bottom: 0;
		z-index: 10;
		width: 48px;
		height: 110px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		@include transition(.3s);

		&:after,
		&:before {
			left: -8px;
			width: 65px;
			top: 50%;
			z-index: 10;
			height: 2px;
			content: '';
			position: absolute;
			background: #a2aaab;
			display: inline-block;
			@include transition(.3s);
		}

		&:after {
			margin-top: -30px;
			@include rotate(45deg);
		}

		&:before {
			margin-top: 30px;
			@include rotate(-45deg);
		}

		&:hover {

			&:after,
			&:before {
				background: #51585c;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 90px;

		&__title {
			line-height: 2.5rem;
			font-size: 2.125rem;
		}

		&__intro {
			line-height: 1.75rem;
			font-size: 	1.4375rem;
			margin-bottom: 2.5rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		max-width: inherit;
		margin-bottom: 90px;
		@include flexbox();

		&__image {
			width: 50%;
			padding-top: 12px;
			padding-right: 15px;
		}

		&__content {
			width: 50%;
			padding-left: 15px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			padding-right: 44px;
		}

		&__content {
			padding-left: 44px;
		}
	}
}