$body-bg:                       #fff;
$color-blue:                    #0097b9;
$color-gray:                    #454d51;
$color-base:                    #454d51;

// Fonts

$font-size-base:                1.0625rem !default;
$font-size-lg:                  1.25rem !default;
$font-size-sm:                  0.875rem !default;

$font-weight-base:              400 !default;
$line-height-base:              1.411764 !default;


$font-base:                     'HelveticaNeue', Arial, sans-serif !default;
$font-head:                     'Baron Neue', Arial, sans-serif !default;


$color-link:                    $color-blue !default;
$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  720px !default;
$container-lg:                  960px !default;
$container-xl:                  1140px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1200px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;


